/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
img {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --light: #fafaf9;
  --gray: #a3a3a3;
  --dark: #57534e;
  --darker: #292524;
  --darkest: #1c1917;
  --blue: #2563eb;
  --gap-100: 0.3rem;
  --gap-200: 1rem;
  --gap-500: 2rem;
  --gap-600: 4rem;
  --gap-700: 5rem;
}
body {
  background-color: var(--darkest);
  height: 100vh;
  color: var(--light);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  user-select: none; /* Standard syntax */
}

main {
  max-width: 65rem;
  width: 100%;
  margin: auto;
  padding: 1rem 2rem;
}
.container0 {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 58%;
  right: 0;
  background: var(--darker);
}
@media (max-width: 50em) {
  .container0 {
    width: 100%;
  }
}
.new-task-form {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 5rem;
  gap: var(--gap-600);
}
.new-task-form input {
  background-color: var(--darkest);
  color: var(--light);
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 8px 0;
  border-radius: 0.5rem;

  /*  */
  border: none;
}
.submit-button {
  border: none;
  background-color: var(--blue);
  color: var(--light);
  padding: 1rem 2rem;
  width: max-content;
  cursor: pointer;
}

.container1 {
  display: flex;
  gap: var(--gap-200);
  justify-content: space-between;
  align-items: center;
  margin-top: var(--gap-600);
  margin-bottom: var(--gap-200);
}
.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.badge {
  background-color: var(--dadge-bg);
  text-align: center;
  padding: 0.2rem;
}
.add-task {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: var(--blue);
  color: var(--light);
  cursor: pointer;
}
.sort-by {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: var(--gap-200);
  margin-left: var(--gap-200);
}
.sort-by > li {
  padding: 0.3rem 0.5rem;
  background-color: var(--darker);
  text-align: center;
}
.sort-by > li:hover {
  cursor: pointer;
  background-color: var(--dark);
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: var(--gap-100);
  margin-left: var(--gap-200);
}

.task {
  position: relative;
  background-color: var(--darker);
  padding: 2rem;
}
.task:hover {
  background-color: var(--dark);
  cursor: pointer;
}
.task-title {
  font-size: 1.2rem;
}

.task-assign {
  font-size: 1rem;
  color: var(--gray);
}
.task-date {
  font-size: 0.8rem;
  position: absolute;
  bottom: 0.25rem;
  right: 0.5rem;
}

@media (max-width: 50em) {
  .container2 {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .sort-by {
    gap: var(--gap-100);
  }
}
